# Environnements virtuels
.venv/
venv/
env/
__pycache__/
*.pyc

# Données et Modèles (Dossiers lourds exclus)
data/
models/
*.safetensors
*.bin
*.pt
*.pth
*.npy

# Notebooks & Logs
.ipynb_checkpoints/
*.log

# Fichiers système
.DS_Store
.env
